kNN Classifier

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization purposes
import seaborn as sns # for data visualization

In [2]:
df_obesityVariables = pd.read_csv('datasets/cleaned_eating_habits_data.csv')

In [3]:
#Show the first 5 rows of the dataset
df_obesityVariables.head()

  FAVC  FCVC  NCP       CAEC  CH2O        CALC
0   no   2.0  3.0  Sometimes   2.0          no
1   no   3.0  3.0  Sometimes   3.0   Sometimes
2   no   2.0  3.0  Sometimes   2.0  Frequently
3   no   3.0  3.0  Sometimes   2.0  Frequently
4   no   2.0  1.0  Sometimes   2.0   Sometimes

In [4]:
df_obesityVariables.dtypes

FAVC     object
FCVC    float64
NCP     float64
CAEC     object
CH2O    float64
CALC     object
dtype: object

In [5]:
df_obesityVars_cat = pd.read_csv('datasets/cat_eating_habits_data.csv')
df_obesityVars_cat.head()

  FAVC       CAEC        CALC
0   no  Sometimes          no
1   no  Sometimes   Sometimes
2   no  Sometimes  Frequently
3   no  Sometimes  Frequently
4   no  Sometimes   Sometimes

In [6]:
df_obesityVars_cat.dtypes

FAVC    object
CAEC    object
CALC    object
dtype: object

In [7]:
#Convert the variable types from object to category
df_obesityVars_category = df_obesityVars_cat.astype("category")

df_obesityVars_category.describe()

        FAVC       CAEC       CALC
count   2111       2111       2111
unique     2          4          4
top      yes  Sometimes  Sometimes
freq    1866       1765       1401

In [8]:
df_obesityVars_int = pd.read_csv('datasets/int64_eating_habits_data.csv')
df_obesityVars_int.head()

   FCVC  NCP  CH2O
0   2.0  3.0   2.0
1   3.0  3.0   3.0
2   2.0  3.0   2.0
3   3.0  3.0   2.0
4   2.0  1.0   2.0

In [9]:
#Joining both numeric and categorical variables into one dataframe called 'df_obesityVars'
#Basically the same as the original df, just that object is converted to categorical
df_obesityVars = df_obesityVars_int.join(df_obesityVars_category)
df_obesityVars.head()

   FCVC  NCP  CH2O FAVC       CAEC        CALC
0   2.0  3.0   2.0   no  Sometimes          no
1   3.0  3.0   3.0   no  Sometimes   Sometimes
2   2.0  3.0   2.0   no  Sometimes  Frequently
3   3.0  3.0   2.0   no  Sometimes  Frequently
4   2.0  1.0   2.0   no  Sometimes   Sometimes

In [10]:
df_obesityVars.describe

<bound method NDFrame.describe of       FCVC  NCP      CH2O FAVC       CAEC        CALC
0      2.0  3.0  2.000000   no  Sometimes          no
1      3.0  3.0  3.000000   no  Sometimes   Sometimes
2      2.0  3.0  2.000000   no  Sometimes  Frequently
3      3.0  3.0  2.000000   no  Sometimes  Frequently
4      2.0  1.0  2.000000   no  Sometimes   Sometimes
...    ...  ...       ...  ...        ...         ...
2106   3.0  3.0  1.728139  yes  Sometimes   Sometimes
2107   3.0  3.0  2.005130  yes  Sometimes   Sometimes
2108   3.0  3.0  2.054193  yes  Sometimes   Sometimes
2109   3.0  3.0  2.852339  yes  Sometimes   Sometimes
2110   3.0  3.0  2.863513  yes  Sometimes   Sometimes

[2111 rows x 6 columns]>

In [11]:
df_obesityVars.dtypes

FCVC     float64
NCP      float64
CH2O     float64
FAVC    category
CAEC    category
CALC    category
dtype: object

In [12]:
#Joining the df_obesityVars with the target variable, which is NObeyesdad
df_original = pd.read_csv('datasets/original_eating_habits_data.csv')
df_knn = df_obesityVars.join(df_original['NObeyesdad'])
df_knn.head()

   FCVC  NCP  CH2O FAVC       CAEC        CALC           NObeyesdad
0   2.0  3.0   2.0   no  Sometimes          no        Normal_Weight
1   3.0  3.0   3.0   no  Sometimes   Sometimes        Normal_Weight
2   2.0  3.0   2.0   no  Sometimes  Frequently        Normal_Weight
3   3.0  3.0   2.0   no  Sometimes  Frequently   Overweight_Level_I
4   2.0  1.0   2.0   no  Sometimes   Sometimes  Overweight_Level_II

In [13]:
#Convert the NObeyesdad from Object to Category
df_knn['NObeyesdad'] = df_knn['NObeyesdad'].astype('category')

In [14]:
df_knn.dtypes

FCVC           float64
NCP            float64
CH2O           float64
FAVC          category
CAEC          category
CALC          category
NObeyesdad    category
dtype: object

In [15]:
# Encode the categorical variables
le = LabelEncoder()
for column in df_knn.select_dtypes(include=['category']):
    df_knn[column] = le.fit_transform(df_knn[column])

NameError: name 'LabelEncoder' is not defined

In [ ]:
df_knn.head(10)

In [ ]:
# Print the original categories and their encoded values
for category, code in zip(le.classes_, le.transform(le.classes_)):
    print(f"{category} : {code}")

In [ ]:
# Split the data into training and testing sets
X = df_knn.drop('NObeyesdad', axis=1)
y = df_knn['NObeyesdad']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

X_train.head()

In [ ]:
# Train the KNN classifier
k = 5 # number of neighbors
knn = KNeighborsClassifier(n_neighbors=k)
knn.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = knn.predict(X_test)

# Calculate the accuracy score
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy score: {accuracy:.2f}")

In [ ]:
for num in range(1,16):
    # instantiate the model with k=num
    knn = KNeighborsClassifier(n_neighbors = num)
    # fit the model to the training set
    knn.fit(X_train, y_train)
    # predict on the test-set
    y_pred = knn.predict(X_test)
    print(f'Model accuracy score with k={num} : {accuracy_score(y_test, y_pred):.4f}')

With k = 5, we get the highest accuracy score of 0.6194. Hence, the k value that should be used is 5.

In [ ]:
# Train the KNN classifier
k = 5 # number of neighbors
knn = KNeighborsClassifier(n_neighbors=k)
knn.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = knn.predict(X_test)

# Calculate the accuracy score
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy score: {accuracy:.4f}")

In [ ]:
# Print the Confusion Matrix with k = 5 and slice it into four pieces

from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)
print(cm)